.cc-icon, .cc-icon + span {
    display: inline-block;
    vertical-align: middle;
}

@import "star";
@import "distance";
@import "clock";
@import "plus-minus";
@import "share";
@import "play";
@import "pdf";