.cc-icon_plus,
.cc-icon_minus {
    position: relative;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.cc-icon_minus:before,
.cc-icon_plus:before {
    content: '';
    width: 100%;
    height: 2px;
    background: $color-orange;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
}

.cc-icon_plus:after {
    content: '';
    height: 100%;
    width: 2px;
    background: $color-orange;
    position: absolute;
    left: 50%;
    margin-left: -1px;
}