.cc-share {
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

.cc-share_linkedin {
    background-image: url('../images/socials/linkedin.svg');
}

.cc-share_facebook {
    background-image: url('../images/socials/facebook.svg');
}

.cc-share_twitter {
    background-image: url('../images/socials/twitter.svg');
}

.cc-share_google {
    background-image: url('../images/socials/google.svg');
}

.cc-share:hover {
    opacity: 0.8;
}