.cc-btn {
    background-color: $color-orange;
    border: none;
    border-radius: 4px;
    color: $color-white !important;
    display: inline-block;
    font-weight: 700;
    padding: 14px 21px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s;
}

.cc-btn:not(.cc-btn_blank):hover {
    cursor: pointer;
    background-color: lighten($color-orange, 5%);
}

.cc-btn_size_lg {
    font-size: $font-size-big;
    padding: 23px 46px 24px;
    min-height: 80px;
}

.cc-btn_blank {
    background-color: transparent;
    color: $color-black;
}

.cc-btn_blank:hover {
    color: lighten($color-black, 50%)
}

.cc-btn-shadow {
    position: relative;
    display: inline-block;
}

.cc-btn-shadow:after {
    content: '';
    display: block;
    width: 90%;
    height: 81px;
    opacity: 0.47;
    border-radius: 4px;
    filter: blur(4.5px);
    background-color: $color-text;
    position: absolute;
    left: 5%;
    z-index: 1;
    bottom: -6px;
}

.cc-btn-shadow .cc-btn {
    z-index: 2;
    position: relative;
}

.cc-btn_link {
    background: none;
    border: none;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.cc-btn_link:hover,
.cc-btn_link:focus {
    opacity: .7;
}

.cc-btn_dotted {
    border-bottom: 2px dotted rgba($color-orange, 0.7);
}

.cc-btn_dotted:hover {
    border-color: $color-orange;
}

.cc-btn_green {
    background-color: $color-green-dark;
}

.cc-btn_green:hover {
    background-color: lighten($color-green-dark, 5%) !important;
}