.cc-checkbox {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.cc-checkbox + label {
    display: inline-block;
    font-size: $font-size-medium;
    position: relative;
    padding-left: 40px;
    padding-top: 5px;
    cursor: pointer;
}

.cc-checkbox + label:before {
    content: '';
    display: block;
    position: absolute;
    width: 21px;
    height: 21px;
    border: 3px solid $color-text;
    left: 0;
    top: 0;
}

.cc-checkbox + label:hover:before {
    border-color: $color-orange;
}

.cc-checkbox:checked + label:after {
    content: '';
    display: block;
    width: 7px;
    height: 10px;
    border: 2px solid $color-text;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    position: absolute;
    left: 9px;
    top: 5px;
}