.cc-header-center {
    text-align: center;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: $font-size-large;
    line-height: 1.2;
}

.cc-header-large {
    font-family: 'Anodyne', Arial, Helvetica;
    font-size: $font-size-large;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 64px;

    @media (min-width: $breakpoint-medium) {
        font-size: $font-size-h1;
    }
}

.cc-header-h2 {
    font-size: $font-size-large;
    text-transform: uppercase;
    line-height: 1.2;
}

.cc-header-h3 {
    font-size: $font-size-big;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.cc-header-h4 {
    font-size: $font-size;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cc-header-large + .cc-header-h4 {
    margin-top: -52px;
    margin-bottom: 17px;
}

.cc-header-h5_orange {
    color: $color-orange;
    font-size: $font-size-medium;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 0;
}

.cc-header-h5_orange + .cc-header-h2 {
    margin-top: -5px;
}

.cc-header-margin-top-off {
    margin-top: 0;
}

.cc-header_gray {
    color: rgba($color-text, 0.3);
}