.cc-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid $color-text;
    font-family: $font-family;
    font-size: $font-size-medium;
    font-weight: 500;
    outline: none;
    padding: 7px 0;
    width: 100%;
    transition: .2s;
}

.cc-input:focus {
    border-color: $color-orange;
}

.cc-input-help {
    color: $color-green-dark;
    font-size: $font-size-medium;
    margin-top: 5px;
}

.cc-input_search {
    background: url('../images/icons/search-icon.svg') no-repeat;
    background-position-y: center; 
    padding-left: 20px;
}