.cc-arrow-list {
    list-style: none;
    padding: 0;
}

.cc-arrow-list li {
    margin-bottom: 16px;
    padding-left: 36px;
    position: relative;
}
.cc-arrow-list li:before {
    content: '';
    display: block;
    background: url('../images/arrow-marker.svg');
    height: 24px;
    width: 24px;
    position: absolute;
    left: 0;
}