.cc-select-container {
    position: relative;
}

.cc-select-container__head {
    cursor: pointer;
    background: url('../images/icons/selector-arrows-icon.svg') no-repeat;
    background-position: center right;
    padding-right: 16px;
    margin-right: 5px;
}

.cc-select-container__box {
    color: $color-text;
    position: fixed;
    top: 60px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: none;
    border-radius: 6px;
    background-color: $color-white;
    box-shadow: 0 8px 16px 0 rgba(29, 64, 51, 0.5);
    padding: 10px 0;
    z-index: 10;
    font-weight: 300;
    overflow: auto;

    @media (min-width: $breakpoint-small) {
        position: absolute;
        margin-top: 4px;
        min-width: 200px;
        max-height: 300px;
        width: auto;

        top: 100%;
        left: auto;
        right: auto;
        bottom: auto;
    }
}

.cc-select-container__item {
    position: relative;
    padding-left: 35px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;

    @media (min-width: $breakpoint-small) {
        font-size: $font-size-medium;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.cc-select-container__item:hover {
    background-color: $color-green-dark;
    color: $color-white;
}

.cc-select-container__item_selected:before {
    content: '';
    display: block;
    border: 1px solid $color-orange;
    border-left: none;
    border-top: none;
    position: absolute;
    width: 7px;
    height: 10px;
    transform: rotate(45deg);
    left: 14px;
}

.cc-select-container_disabled .cc-select-container__head {
    opacity: 0.3;
}

.cc-select_head-inline .cc-select-container__head {
    display: inline-block;
}