.cc-basecamp-articles__filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
    padding: 0 10px;
}

.cc-basecamp-articles-filter-tag,
.cc-basecamp-articles-filter-tag:visited {
    display: inline-block;
    text-transform: uppercase;
    color: $color-green-dark;
    font-weight: 700;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    margin: 0 5px 10px;
    text-decoration: none;
}

.cc-basecamp-articles-filter-tag:hover {
    color: rgba($color-green-dark, 0.7);
}

.cc-basecamp-articles-filter-tag_active,
.cc-basecamp-articles-filter-tag_active:visited,
.cc-basecamp-articles-filter-tag_active:hover {
    background-color: $color-orange;
    color: $color-white;
}

.cc-basecamp-articles-filters__sort,
.cc-basecamp-articles-filters__search {
    width: 152px;
    margin-bottom: 25px;
}

.cc-basecamp-articles-filters__tags {
    margin-bottom: 15px;
    margin-left: -20px;

    @media (min-width: $breakpoint-small) {
        margin-left: 0;
    }
}

.cc-basecamp-articles-filters__sort-title {
    font-size: $font-size-small;
    font-weight: 700;
    color: $color-orange;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
}

.cc-basecamp-articles-filters-sort {
    display: inline-block;
    font-weight: 500;
    font-size: $font-size-medium;
}