.cc-basecamp-instructions {
    color: $color-white;
    padding: 70px 0 30px;
    margin-bottom: 30px;
}

.cc-basecamp-instructions__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cc-basecamp-instructions__item {
    width: 210px;
    text-align: center;
    margin: 0 auto;
}

.cc-basecamp-instructions-item__img {
    position: relative;
    text-align: center;
    height: 180px;
    width: 215px;
}

.cc-basecamp-instructions-item__img img {
    max-width: 210px;
    max-height: 170px;
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: middle;
}

.cc-basecamp-instructions-item__img:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}

.cc-basecamp-instructions-item__img:before {
    content: '';
    width: 146px;
    height: 146px;
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -73px;
    top: 17px;
    z-index: 0;
}

.cc-basecamp-instructions-item-play {
    position: absolute;
    left: 50%;
    top: 69px;
    margin-left: -21px;
    z-index: 2;
}

.cc-basecamp-instructions-item__descr {
    max-width: 193px;
    margin: 0 auto 40px;
}

.cc-basecamp-file {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    width: 153px;
    margin-bottom: 15px;
}

.cc-basecamp-file__icon {
    position: absolute;
    left: 0;
}

.cc-basecamp-file__title {
    line-height: 1;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    display: inline-block;
    max-width: 117px;
}

.cc-basecamp-file__title a {
    color: #ffcec7;
    font-size: $font-size-small;
}