.cc-shipping-card-details__bottom {
    background-color: $color-text;
    color: $color-white;
    padding: 21px;

    @media (min-width: $breakpoint-small) {
        display: flex;
    }
}

.cc-shipping-card-details__top {
    display: flex;
    justify-content: space-between;
    border: 3px solid $color-text;
    border-bottom: 0;
    padding: 21px;
}

.cc-shipping-card-details__info {
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-medium;
    display: flex;
}

.cc-shipping-card-details__info-item {
    min-width: 120px;
    padding-left: 10px;
}

.cc-shipping-card-details__bottom-item {
    padding-bottom: 20px;

    @media (min-width: $breakpoint-small) {
        padding-bottom: 0;
        width: 33%;
    }
}

.cc-shipping-card-details .cc-select-container__head {
    @media (min-width: $breakpoint-small) {
        display: inline-block;
    }
}

.cc-shipping-card-details-select {
    font-size: $font-size-big;
    font-weight: 700;
}

.cc-shipping-card-details__ps {
    font-size: $font-size-medium;
    color: $color-green-dark;
    padding: 21px;
}

.cc-shipping-card-details-date {
    background: transparent;
    border: none;
    color: $color-white;
    font-size: $font-size-big;
    font-weight: 700;
    background: url('../images/icons/selector-arrows-icon.svg') no-repeat;
    background-position: center right;
    padding-right: 16px;
    display: inline-block;
    width: 170px;
}