.cc-shipping-card__form {
    border: 3px solid $color-text;
    padding: 23px;

    @include clearfix();
}

.cc-shipping-card__form-item {
    margin-bottom: 23px;
    vertical-align: top;
    break-inside: avoid;
}

.cc-shipping-card__form-item h5 {
    font-size: $font-size-small;
}

.cc-shipping-card__form-item_inline {
    display: flex;
    justify-content: space-between;
}

.cc-shipping-card__form-item_inline > div {
    flex: 1;
}

div.cc-shipping-card-form__state {
    flex: 0 0 auto;
    width: 52px;
    margin-left: 11px;
}

.cc-shipping-card__form-column {
    @media (min-width: $breakpoint-small) {
        float: left;
        width: 45%;
    }
}

.cc-shipping-card__form-column + .cc-shipping-card__form-column {
    @media (min-width: $breakpoint-small) {
        float: right;
    }
}