.cc-select-extended-item {
    display: flex;
    justify-content: space-between;
}

.cc-select-extended-item__info-title {
    font-weight: bold;
    font-size: $font-size;
}

.cc-select-extended-item__info-subtitle {
    font-size: $font-size-medium;
}

.cc-select-place .cc-select-container__box {
    min-width: 330px;
}

.cc-select-extended-item__price {
    font-size: $font-size-large !important;
}

.cc-select-place .cc-select-container__item_selected:before {
    top: 13px;
}

.cc-select-extended-item__price_special {
    color: $color-orange;
}

.cc-select-place .cc-select-container__head {
    background: none;
}

.cc-select-place .cc-select-container__head .cc-select-extended-item__info-title {
    font-size: $font-size-big;
    line-height: 1;
    margin-bottom: 5px;
    background: url('../images/icons/selector-arrows-icon.svg') no-repeat;
    background-position: center right;
    padding-right: 16px;
}