.cc-shipping-card-layout {
    background: #7d614a url('../images/wood-background-pattern.jpg');
}

.cc-shipping-card-layout .cc-footer {
    background: transparent;
}

.cc-shipping-card-layout .cc-footer_copyright,
.cc-shipping-card-layout .cc-footer__info-links a {
    color: rgba($color-white, 0.7);
}

.cc-shipping-card {
    max-width: 768px;
    margin: 0 auto;
}

.cc-shipping-card__top {
    position: relative;
    background: url('../images/shipping-card/center-top.png') no-repeat;
    background-size: cover;
    background-position-x: center;
    padding-top: 24.35%;

    @media (min-width: $breakpoint-small) {
        background-size: auto;
        height: 187px;
    }
}

.cc-shipping-card__top:before {
    background: url('../images/shipping-card/left-top.png') no-repeat;
    width: 59px;
    height: 140px;
    position: absolute;
    left: -59px;
    bottom: 0;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__top:after {
    background: url('../images/shipping-card/right-top.png') no-repeat;
    width: 59px;
    height: 142px;
    position: absolute;
    right: -59px;
    bottom: 0;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__content {
    background: $color-white url('../images/shipping-card/paper-background-pattern.png');
    position: relative;

    @media (min-width: $breakpoint-small) {
        margin-right: -20px;
        padding-right: 30px;
    }
}

.cc-shipping-card__content:before {
    background: url('../images/shipping-card/left.png') no-repeat;
    background-size: 100% 100%;
    width: 59px;
    position: absolute;
    left: -59px;
    bottom: 0;
    top: 0;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__content:after {
    background: url('../images/shipping-card/right.png') no-repeat;
    background-size: 100% 100%;
    width: 53px;
    position: absolute;
    right: -33px;
    bottom: 0;
    top: 0;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__bottom {
    max-width: 768px;
    height: 189px;
    background: url('../images/shipping-card/bottom.png') no-repeat;
    position: relative;
}

.cc-shipping-card__bottom:before {
    background: url('../images/shipping-card/bottom-left.png') no-repeat;
    background-size: 100% 100%;
    width: 62px;
    height: 104px;
    position: absolute;
    left: -59px;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__bottom:after {
    background: url('../images/shipping-card/bottom-right.png') no-repeat;
    background-size: 100% 100%;
    width: 53px;
    height: 105px;
    position: absolute;
    right: -53px;

    @media (min-width: $breakpoint-small) {
        content: '';
        display: block;
    }
}

.cc-shipping-card__submit,
.cc-shipping-card__agree {
    text-align: center;
    margin-top: 30px;
}

.cc-shipping-card-header {
    margin-left: 18px;
}