.cc-shipping-card-table-total {
    font-size: $font-size-big;
    font-weight: 700;
    padding: 14px;
    text-align: right;
    text-transform: uppercase;
}

.cc-shipping-card-table-total__price {
    margin-left: 15px;
}

tr.cc-shipping-card-table-total {
    text-align: left;
}