html, body {
    color: $color-text;
    background-color: $color-background;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 300;
    line-height: 1.5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

a, a:visited {
    color: $color-orange;
}

a:hover {
    color: darken($color-orange, 10%);
}

p {
    margin-bottom: 18px;
    margin-top: 0;
}

img {
    max-width: 100%;
}

content {
    flex: 0 0 auto;
}

strong {
    font-weight: 700;
}

blockquote {
    background: url('../images/icons/quotes-icon.svg') no-repeat;
    padding: 30px 40px;
    margin: 30px 0;
    font-size: 20px;
    color: rgba($color-text, 0.7);
}

blockquote cite {
    font-weight: 700;
    font-style: normal;
    color: $color-green-dark;
    display: block;
    margin-top: 20px;
    font-size: $font-size;
}

p + blockquote {
    margin-top: 80px;
}

.cc-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 23px;

    @media (min-width: $breakpoint-large) {
        padding: 48px 64px;
    }
}

.cc-container_medium {
    max-width: 1218px;
}

.cc-transition {
    padding-bottom: 203px;
}

.cc-transition:after {
    background: url('../images/image-border-back-color.png');
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 203px;
    bottom: 0;
}

.cc-phone {
    font-family: 'AsketCondensed', arial, tahoma, Helvetica;
    font-size: $font-size-large;
    margin-bottom: 30px;
}

.cc-wood-back {
    background: url('../images/wood-background-pattern.jpg');
    position: relative;
}
.cc-wood-back:before,
.cc-wood-back:after {
    content: '';
    display: block;
    background: url('../images/wood_border.png');
    width: 100%;
    height: 27px;
    position: absolute;
    bottom: 0px;
    left: 0;
}

.cc-wood-back:before {
    transform: rotate(180deg);
    bottom: auto;
    top: 0;
}