@font-face {
    font-family: 'Anodyne';
    src: url('../fonts/Anodyne/anodyne-webfont.woff2') format('woff2'),
         url('../fonts/Anodyne/anodyne-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnodyneCombined';
    src: url('../fonts/AnodyneCombined/anodynecombined-webfont.woff2') format('woff2'),
         url('../fonts/AnodyneCombined/anodynecombined-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mariupol';
    src: url('../fonts/Mariupol-Bold/mariupol-bold-webfont.woff2') format('woff2'),
         url('../fonts/Mariupol-Bold/mariupol-bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Mariupol';
    src: url('../fonts/Mariupol-Medium/mariupol-medium-webfont.woff2') format('woff2'),
         url('../fonts/Mariupol-Medium/mariupol-medium-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Mariupol';
    src: url('../fonts/Mariupol-Regular/mariupol-regular-webfont.woff2') format('woff2'),
         url('../fonts/Mariupol-Regular/mariupol-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'AsketCondensed';
    src: url('../fonts/Asket_Condensed_Medium/asket_condensed_medium-webfont.woff2') format('woff2'),
         url('../fonts/Asket_Condensed_Medium/asket_condensed_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}