.cc-trips {
    justify-content: space-between;
    max-width: 1020px;
    margin: 0 auto;

    @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
    }
}

.cc-trips__item {
    margin-bottom: 47px;

    @media (min-width: $breakpoint-large) {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.cc-trips-header {
    background-image: url('../images/top-image-trips.jpg');
}

.cc-trips-header .cc-header-content {
    max-width: 940px;
    margin: 0 auto;
}