.cc-gear__item {
    background-color: $color-white;
    border-radius: 9px;
    padding: 32px 32px 12px;

    margin-bottom: 24px;

    @media (min-width: $breakpoint-small) {
        display: flex;
        padding-left: 0;
    }
}

.cc-gear-item__img {
    flex: 0 0 auto;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-small) {
        width: 250px;
        height: 240px;
        margin-bottom: 0;
    }

    @media (min-width: $breakpoint-large) {
        width: 336px;
    }
}

.cc-gear-item__img:after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

.cc-gear-item__img img {
    max-width: 80%;
    max-height: 240px;
    display: inline-block;
    vertical-align: middle;

    @media (min-width: $breakpoint-large) {
        max-width: 280px;
    }
}

.cc-gear-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cc-gear-item__top {
    @media (min-width: $breakpoint-small) {
        display: flex;
        justify-content: space-between;
        flex: 0 0 auto;
    }
}

.cc-gear-item-top__description {
    padding-bottom: 15px;

    @media (min-width: $breakpoint-small) {
        max-width: 420px;
        min-height: 183px;
        margin-right: 20px;
    }
}

.cc-gear-item-top__price {
    flex: 0 0 auto;
    min-width: 157px;
    margin-bottom: 20px;
}

.cc-gear-item__bottom {
    @media (min-width: $breakpoint-small) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 0 0 auto;
    }
}

.cc-gear-item__bottom-button {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    @media (min-width: $breakpoint-small) {
        flex: 0 0 auto;
        margin-top: 11px;
        margin-left: 50px;
        margin-bottom: 0;
    }
}

.cc-gear-item__bottom-button .cc-btn {
    min-width: 158px;
}

.cc-gear-item__columns {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 1;
}

.cc-gear-item__bottom-column {
    flex: 0 0 auto;
    margin-bottom: 20px;
}
.cc-gear-item__bottom-column .cc-header-h5_orange {
    font-size: $font-size-small;
    margin-bottom: 0;
}

.cc-gear-item__table {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.cc-gear-item__table-open + .cc-gear-item__table {
    display: block;
}

.cc-gear-select {
    font-size: $font-size-big;
    font-weight: 700;
    margin-bottom: -5px;
}

.cc-counter {
    text-align: right;
}

.cc-counter div + div {
    margin-left: 18px;
}