.cc-article-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cc-article-cards__item {
    position: relative;
    width: 324px;
    padding: 0 10px;
    margin-bottom: 50px;
}

.cc-article-cards__item:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    border-radius: 9px;
    filter: blur(16px);
    background-color: $color-text;
    width: 90%;
    top: 53px;
    bottom: -15px;
    left: 5%;
    z-index: 0;
    transition: .3s;
}

.cc-article-cards__item:hover:after {
    opacity: 0.3;
}

.cc-article-card {
    display: inline-block;
    background-color: $color-white;
    border-radius: 9px;
    max-width: 304px;
    width: 100%;
    position: relative;
    z-index: 1;
    transition: .3s;
}

.cc-article-card-link {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.cc-article-card-img {
    border-radius: 9px 9px 0 0;
}

.cc-article-card__img {
    position: relative;
    max-height: 240px;
    overflow: hidden;
}

.cc-article-card__tags {
    position: absolute;
    bottom: 12px;
    left: 28px;
    z-index: 2;
}

.cc-article-card__content {
    padding: 30px;
}

.cc-article-card__title {
    font-size: $font-size-big;
    line-height: 1.2;
    margin: 0 0 20px;
}

.cc-article-card__text {
    color: $color-green-dark;
    font-size: $font-size-medium;
    min-height: 90px;
    line-height: 1.23;
}

.cc-article-card-more {
    color: $color-text;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.cc-article-cards__item:hover .cc-article-card {
    margin-top: -8px;
    margin-bottom: 8px;
}

.cc-article-cards__item:hover .cc-article-card-more {
    color: $color-orange;
}