.cc-booking-cards {
    text-align: center;
    max-width: 1121px;
    margin: 0 auto;
}

.cc-booking-card {
    background-color: $color-white;
    border-radius: 8px;
    padding: 38px 38px 28px;
    position: relative;
    text-align: left;
    vertical-align: top;
    z-index: 1;
    margin-bottom: 25px;

    @media (min-width: $breakpoint-medium) {
        display: inline-block;
        margin: 0 -4px;
    }
}

.cc-booking-card_center {
    @media (min-width: $breakpoint-medium) {
        margin: 0;
        box-shadow: 0 16px 16px 0 rgba(29, 64, 51, 0.35);
        z-index: 2;
        width: 40%;
    }
}

.cc-booking-card_left,
.cc-booking-card_right {
    @media (min-width: $breakpoint-medium) {
        margin-top: 48px;
        width: 30%;
    }
}

.cc-booking-card_left {
    background-color: #e8e3d2;

    @media (min-width: $breakpoint-medium) {
        border-radius: 8px 0 0 8px;
        padding-right: 18px;
        padding-left: 29px;
    }
}

.cc-booking-card_right {
    background-color: #d4e0d8;

    @media (min-width: $breakpoint-medium) {
        border-radius: 0 8px 8px 0;
        padding-right: 18px;
        padding-left: 26px;
    }
}

.cc-booking-card-title {
    margin-top: 10px;
    margin-bottom: -1px;
}

.cc-booking-card_center .cc-booking-card-title {
    margin-top: 28px;
}

.cc-booking-card__info {
    padding-left: 4px;
}

.cc-booking-card__subtitle {
    margin-bottom: 26px;
}

.cc-booking-card__features {
    min-height: 89px;
    margin-bottom: 28px;
}

.cc-booking-card__price {
    margin-bottom: 32px;
}

.cc-booking-card__actions {
    margin-right: -18px;
}

.cc-booking-card_left .cc-btn_blank {
    padding-left: 13px;
    padding-right: 5px;
}

.cc-booking-card-price__title {
    color: $color-green-dark;
    font-size: $font-size-small;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-left: 7px;
}

.cc-booking-card-price__num {
    display: inline-block;
    font-family: 'AnodyneCombined', Arial, Helvetica;
    font-size: $font-size-huge;
    vertical-align: middle;
    margin: 0;
    margin-right: 9px;
}

.cc-booking-card-price__per {
    display: inline-block;
    vertical-align: middle;
}

.cc-booking-card-label {
    position: absolute;
    width: 141px;
    height: 89px;
    color: $color-white;
    text-transform: uppercase;
    font-size: 20px;
    top: -4px;
    right: 14px;
    background: url('../images/promo-label.svg') no-repeat;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    padding-top: 20px;
}