.cc-review {
    margin-bottom: 35px;
    font-size: $font-size-sign;

    @media (min-width: $breakpoint-small) {
        display: flex;
        align-items: center;
    }
}

.cc-review .cc-review__text p {
    font-size: $font-size-sign;
    margin-bottom: 9px;
}

.cc-review__img {
    flex: 1 0 191px;
    text-align: center;
    margin-bottom: 10px;
}

.cc-review__text {
    margin-left: 31px;
}

.cc-review__sign {
    color: $color-orange;
}