.cc-img-slider {
    text-align: center;
}

.cc-img-slider__controls {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 40px;
}

.cc-img-slider-controls-center {
    text-align: center;
    font-size: $font-size-medium;
}

.cc-img-slider-controls-next,
.cc-img-slider-controls-prev {
    color: $color-orange;
    cursor: pointer;
}

.cc-img-slider-controls-center__title {
    color: #455792;
}

.cc-img-slider-controls-center__counter {
    color: $color-orange;
    margin-bottom: 10px;
}