.cc-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    font-size: $font-size-medium;
}

.cc-table th {
    display: none;
    color: $color-orange;
    font-size: $font-size-small;
    text-align: left;
    text-transform: uppercase;
    padding: 0 14px;

    @media (min-width: $breakpoint-small) {
        display: table-cell;
    }
}

.cc-table td {
    display: block;
    padding: 14px;

    @media (min-width: $breakpoint-small) {
        display: table-cell;
    }
}

.cc-table td:before {
    content: attr(data-title);
    display: inline-block;
    margin-right: 10px;
    color: $color-orange;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: 700;

    @media (min-width: $breakpoint-small) {
        display: none;
    }
}

.cc-table td:first-child,
.cc-table th:first-child {
    @media (min-width: $breakpoint-small) {
        padding-left: 21px;
    }
}

.cc-table tr {
    border-bottom: 1px solid $color-text;
}

.cc-table thead tr {
    border-bottom: 0;
}

.cc-table-nb {
    border: none !important;
}

td.cc-table-bd {
    border-bottom: 1px solid $color-text;
}

// Striped table

.cc-striped-table {
    width: 100%;
    font-size: 20px;
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
}

.cc-striped-table th {
    background-color: $color-green-dark;
    color: $color-white;
    font-weight: 300;
    padding: 20px;
    text-align: left;
    border: 1px solid #e5e8f2;
}

.cc-striped-table tr {
    background-color: $color-white;
}

.cc-striped-table tr:nth-child(2n) {
    background-color: #ecfbf3;
}

.cc-striped-table td {
    color: $color-green-dark;
    padding: 20px;
    border: 1px solid #cdf1e1;
}

.cc-striped-table-title {
    font-size: $font-size-medium;
    margin-bottom: 5px;
}