a.cc-tag:visited,
.cc-tag {
    background-color: $color-green-dark;
    border-radius: 14px;
    color: $color-white;
    display: inline-block;
    font-size: $font-size-medium;
    padding: 0 13px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
}

.cc-tag + .cc-tag {
    margin-left: 4px;
}

a.cc-tag:hover {
    background-color: rgba($color-green-dark, 0.8);
}