.cc-trip-card {
    background-color: $color-white;
    border-radius: 9px;
    max-width: 304px;
    margin: 0 auto;
}

.cc-trip-card-bg {
    border-radius: 9px 9px 0 0;
}

.cc-trip-card__header {
    color: $color-white;
    position: relative;
}

.cc-trip-card__header-rate {
    position: absolute;
    top: 24px;
    left: 29px;
    z-index: 1;
}

.cc-trip-card__header-info {
    position: absolute;
    bottom: 20px;
    left: 29px;
}

.cc-trip-card__header-info h3 {
    margin-bottom: 1px;
}

.cc-trip-card__content {
    font-size: $font-size-medium;
    padding: 12px 29px 29px;
}

.cc-trip-card-content__top {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;

    @include clearfix();
}

.cc-trip-card .cc-icon {
    margin-right: 11px;
}

.cc-trip-card-content__duration {
    float: left;
    width: 49%;
}

.cc-trip-card-content__distance {
    float: right;
    width: 49%;
}

.cc-trip-card-price {
    font-family: 'AnodyneCombined', Arial, Helvetica;
    font-size: $font-size-h1;
    display: inline-block;
    vertical-align: middle;
    margin-right: 18px;
}

.cc-trip-card__persons {
    display: inline-block;
    vertical-align: middle;
}

.cc-trip-card-select {
    font-weight: 500;
}