$font-size-small: 11px;
$font-size-medium: 13px;
$font-size-sign: 14px;
$font-size: 16px;
$font-size-big: 24px;
$font-size-large: 32px;
$font-size-huge: 72px;
$font-size-huge-medium: 56px;

$font-size-h1: 64px;

$font-family: 'Mariupol', Arial, tahoma, Helvetica;