.cc-mini-logo {
    width: 183px;
    height: 32px;
}

.cc-header-logo {
    @extend .cc-mini-logo;

    background-image: url('../images/logo.svg');
    background-size: 100% 100%;
    display: inline-block;
    position: relative;
    z-index: 2;

    @media (min-width: $breakpoint-large) {
        width: 275px;
        height: 48px;
    }
}

.cc-header-top_fixed .cc-header-logo {
    @extend .cc-mini-logo;
}

.cc-header-logo h1 {
    display: none;
}