.cc-header-nav {
    list-style: none;
    padding: 0;
    text-align: center;
    position: absolute;
    background: rgba($color-black, 0.6);
    left: -23px;
    right: -23px;
    top: -39px;
    padding-top: 100px;
    padding-bottom: 80px;

    @media (min-width: $breakpoint-large) {
        position: inherit;
        background: none;
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.cc-header-nav li {
    margin: 0 15px;

    @media (min-width: $breakpoint-large) {
        display: inline-block;
    }
}

.cc-header-nav li a,
.cc-header-nav li a:visited,
.cc-header-nav li a:active {
    border-left: 5px solid transparent;
    color: $color-white;
    display: inline-block;
    font-weight: 700;
    padding: 3px 0;
    padding-left: 10px;
    text-decoration: none;
    text-transform: uppercase;

    @media (min-width: $breakpoint-large) {
        border-left: 0;
        border-bottom: 5px solid transparent;
        padding-left: 0;
        padding-bottom: 9px;
    }
}

.cc-header-nav li a:hover {
    color: darken($color-white, 10%);
}

.cc-header-nav li a.active {
    border-color: $color-orange;
}

.cc-header-menu-checkbox {
    visibility: hidden;
    position: absolute;
    left: -9999px;
}

.cc-header-menu-checkbox:checked + .cc-header-top__nav {
    display: block;
}

.cc-header-menu-checkbox:checked + .cc-header-top__nav + .cc-header-top__button {
    display: block;
    position: absolute;
    z-index: 2;
    top: 210px;
    left: 50%;
    margin-left: -110px;

    @media (min-width: $breakpoint-large) {
        position: static;
    }
}

.cc-header-menu-checkbox:checked + .cc-header-top__nav + .cc-header-top__button .cc-btn {
    @media (max-width: $breakpoint-large - 1px) {
        font-size: $font-size;
        padding: 14px 21px;
        min-height: auto;
    }
}

.cc-header-top-burger {
    position: absolute;
    width: 24px;
    border-top: 2px solid $color-white;
    border-bottom: 2px solid $color-white;
    padding: 3px 0;
    right: -2px;
   
    @media (min-width: $breakpoint-large) {
        display: none;
    }
}

.cc-header-top-burger:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color-white;
}

.cc-header-top_fixed .cc-header-top-burger {
    right: 20px;
}