.cc-header {
    position: relative;
    background-size: cover;
    background-position: left center;
}

.cc-header:before {
    content: '';
    display: block;
    width: 100%;
    height: 176px;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(47, 47, 47, 0.59) 97%);
    z-index: 0;
}

.cc-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1;
    position: relative;
}

.cc-header-top_fixed {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(15, 40, 47, .8);
    z-index: 10;
    padding: 10px 0;

    @media (min-width: $breakpoint-large) {
        padding: 0
    }
}

.cc-header-top_fixed .cc-btn {
    font-size: $font-size;
    padding: 14px 21px;
    min-height: auto;
}

.cc-header-top__logo {
    flex: 0 0 auto;
}

.cc-header-top__nav {
    display: none;
    flex: 1;
    margin-top: 10px;

    @media (min-width: $breakpoint-large) {
        display: block;
    }
}

.cc-header-top__button {
    flex: 0 1 auto;
    display: none;
    min-width: 240px;
    text-align: center;
    transition: .1s;

    @media (min-width: $breakpoint-large) {
        display: block;
        text-align: right;
    }
}

.cc-header-content {
    color: $color-white;
}

.cc-header__title.cc-header-large {
    font-size: $font-size-h1;
    margin-top: 151px;
    text-shadow: 0 2px 5px #02090c, 0 2px 24px #1d4033;

    @media (min-width: $breakpoint-medium) {
        font-size: 86px;
    }
}

.cc-header__descr {
    max-width: 665px;
}

.cc-header-descr-text {
    background: rgba($color-text, 0.7);
    //outline: 16px solid rgba($color-text, 0.7);
    box-shadow: 16px 0 0 rgba($color-text, 0.7), -16px 0 0 rgba($color-text, 0.7);
    line-height: 1.5;
    font-size: $font-size-big;
    padding: 6px 0 5px;
}

@import 'header-logo';
@import 'header-nav';