.cc-footer {
    background-color: #131f29;
    margin-top: 100px;
}

.cc-footer-bottom {
    text-align: center;
    @media (min-width: $breakpoint-medium) {
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
}

.cc-footer-bg {
    position: relative;
}

.cc-footer-bg:before {
    content: '';
    display: block;
    width: 286px;
    height: 73px;
    background-image: url('../images/let-us-do-packing-badge.png');
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    margin-left: -143px;
    top: -50px;

    @media (min-width: $breakpoint-medium) {
        top: 37px;
        margin-left: -266px;
        width: 533px;
        height: 135px;
    }
}

.cc-footer-bg img {
    width: 100%;
    margin-top: -100px;
}

.cc-footer__logo {
    flex: 0 0 auto;
}

.cc-footer__social {
    flex: 0 0 auto;
}

.cc-footer__info {
    font-size: $font-size-medium;
    flex: 0 0 auto;
    margin-top: 17px;
    text-align: center;

    @media (min-width: $breakpoint-medium) {
        text-align: right;
    }
}

.cc-footer_copyright {
    color: $color-gray;
    font-size: $font-size-medium;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-medium) {
        margin-bottom: 0;
        margin-top: 40px;
    }
}

.cc-footer__info-email a {
    text-transform: uppercase;
    color: $color-white;
    font-weight: 700;
    text-decoration: none;
}

.cc-footer__info-links {
    color: $color-gray;
    font-size: $font-size-medium;
    margin-top: 52px;
}

.cc-footer__info-links a {
    color: $color-gray;
    text-decoration: none;
}