.cc-footer__social-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-size: 100% 100%;
    margin-left: 4px;
}

.cc-footer__social-icon:hover {
    opacity: .8;
}

.cc-footer__social-fb {
    background-image: url('../images/icons/facebook.png');
}

.cc-footer__social-instagram {
    background-image: url('../images/icons/instagram.png');
}