.cc-article-container {
    position: relative;
}

.cc-article-header {
    background-image: url('../images/top-image-basecamp.jpg');
    background-position-y: bottom; 
}

.cc-article-header .cc-container {
    padding-bottom: 0;
}

.cc-article {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $breakpoint-small) {
        padding: 0 100px;
    }
}

.cc-article p {
    color: $color-green-dark;
    font-size: 20px;
    margin-bottom: 42px;

    @include clearfix();
}

.cc-article p + h2 {
    margin-top: 80px;
}

.cc-img-sign {
    display: block;
    font-size: $font-size-medium;
}

.cc-article-related {
    margin-top: 50px;
    margin-bottom: 30px;
}