.cc-article-bottom {
    border: 1px solid rgba($color-text, 0.2);
    border-left: 0;
    border-right: 0;
    padding: 30px 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.cc-article-bottom__feedback,
.cc-article-bottom__share {
    margin-bottom: 20px;
}

.cc-article-bottom-title {
    color: #455792;
    font-size: $font-size-small;
    margin-right: 21px;
}