.cc-article-title {
    margin-top: 0;

    @media (max-width: $breakpoint-small) {
        font-size: $font-size-large;
    }
}

.cc-article__back-link {
    margin-bottom: 20px;
}

.cc-article__back-link a,
.cc-article__back-link a:visited {
    color: $color-text;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.cc-article__back-link a:hover {
    color: $color-orange;
}

.cc-article-header__meta {
    border-bottom: 1px solid rgba($color-text, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 6px;
    margin-bottom: 32px;
}

.cc-article-header__info,
.cc-article-header__tags {
    margin-bottom: 10px;
}

.cc-article-header__status {
    color: $color-orange;
    margin-right: 12px;
}