.cc-article-share {
    display: none;

    @media (min-width: $breakpoint-small) {
        display: block;
        position: absolute;
        left: 25px;
        top: 0;
        width: 48px;
        text-align: center;
    }

    @media (min-width: $breakpoint-large) {
        left: 64px;
    }
}

.cc-article-share .cc-share {
    margin-bottom: 16px;
}

.cc-article-share-title {
    color: #455792;
    font-size: $font-size-small;
    margin-bottom: 16px;
    display: inline-block;
}