.cc-single-trip-header {
    margin-bottom: 30px;
}

.cc-single-trip-header-info-title {
    margin-bottom: 29px;
    
    @media (max-width: $breakpoint-small) {
        font-size: 40px;
    }
}

.cc-single-trip-header-info-wrapper {
    color: $color-white;
    max-width: 950px;
    padding: 0 20px;
    position: relative;

    min-height: 300px;

    @media (min-width: $breakpoint-small) {
        padding: 0 100px;
    }

    @media (min-width: $breakpoint-large) {
        min-height: 400px;
    }
}

.cc-single-trip-header-info {
    position: absolute;
    bottom: 52px;
    left: 20px;
    right: 20px;

    @media (min-width: $breakpoint-small) {
        left: 100px;
        right: 100px;
    }
}

.cc-single-trip-header-info__details {
    max-width: 640px;
}

.cc-single-trip-header-info__details-item {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-medium;
    margin-right: 20px;
    margin-bottom: 5px;
}

.cc-single-trip-header-info__details-item .cc-icon {
    margin-right: 5px;
}

.cc-single-trip-header-info__details-published {
    display: inline-block;
    position: relative;
    bottom: -2px;

    @media (min-width: $breakpoint-small) {
        float: right;
    }
}

.cc-single-trip-header-info__published {
    color: $color-orange;
    margin-right: 5px;
}

.cc-single-trip-reviews {
    margin: 66px 0;
}

.cc-single-trip-header-info-wrapper,
.cc-single-trip-article {

    @media (min-width: $breakpoint-large) {
        margin: 0 230px 0 90px;
    }

    @media (min-width: $breakpoint-largest) {
        margin: 0 230px 0 auto;
    }

    @media (min-width: $desktop-width) {
        margin: 0 auto;
    }
}

.cc-single-trip-book {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;

    @media (min-width: $breakpoint-small) {
        padding: 0 100px;
    }

    @media (min-width: $breakpoint-large) {
        position: absolute;
        top: 0;
        right: 64px;
        padding: 0;
    }
}

.cc-single-trip-book__price {
    display: inline-block;
    margin-bottom: 21px;
    margin-right: 20px;
    vertical-align: middle;

    @media (min-width: $breakpoint-large) {
        display: block;
    }
}

.cc-single-trip-book__price .cc-price {
    font-size: $font-size-huge;
}


.cc-single-trip-book__select {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 24px;

    @media (min-width: $breakpoint-large) {
        display: block;
    }
}

.cc-single-trip-book__select .cc-select-container__head {
    font-size: 19px;
    font-weight: 500;
}

.cc-single-trip-book__select > span {
    display: inline-block;
}

.cc-single-trip-book-submit {
    padding: 15px 30px;
    min-height: 72px;
}