.cc-mainpage-featuredin__img-outside {
    width: 78px;

    @media (min-width: $breakpoint-medium) {
        width: 172px;
    }
}

.cc-mainpage-featuredin__img-john {
    width: 101px;

    @media (min-width: $breakpoint-medium) {
        width: 223px;
    }
}

.cc-mainpage-featuredin__img-fathom {
    width: 65px;

    @media (min-width: $breakpoint-medium) {
        width: 145px;
    }
}

.cc-mainpage-featuredin__item {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px;

    @media (min-width: $breakpoint-medium) {
        margin: 0 32px;
    }
}

.cc-mainpage-section__featuredin {
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-medium) {
        margin-bottom: 100px;
    }
}