.cc-mainpage-section__gear {
    background: url('../images/wood-back.png');
    background-size: cover;
    min-height: 898px;
    margin-bottom: -20px;
    color: $color-white;
    position: relative;
    z-index: 2;
}

.cc-mainpage-gear__header {
    display: flex;
    align-items: center;
    margin-bottom: -42px;
}

.cc-mainpage-gear__header h2 {
    flex: 0 0 auto;
    padding: 0 34px 12px;
    margin: 0;
}

.cc-mainpage-gear__header:before,
.cc-mainpage-gear__header:after {
    content: '';
    display: block;
    flex: 1;
    height: 8px;
    background-color: $color-white;
}

.cc-mainpage-gear__content {
    position: relative;
    min-height: 732px;
    margin-left: -4px;
    margin-right: -4px;
    padding-top: 41px;

    @media (min-width: $desktop-width) {
        border: 8px solid $color-white;
        border-top: none;
    }
}

.cc-mainpage-gear__content .cc-header-h4 {
    margin-top: 0;
}

.cc-mainpage-gear__content-container {
    display: flex;
    flex-wrap: wrap;
}

.cc-mainpage-gear__item {
    display: flex;
    max-width: 380px;
}

.cc-mainpage-gear__item-img {
    width: 20%;
    text-align: center;
    margin-right: 5%;
    margin-top: 30px;
    min-width: 69px;
    @media (min-width: $desktop-width) {
        width: auto;
        margin-right: 0;
        margin-top: 0;
        position: absolute;
    }
}

.cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        position: absolute;
    }
}


// headlamp

.cc-mainpage-gear__item_headlamp .cc-mainpage-gear__item-img {
    left: 316px;
    top: 93px;
}
.cc-mainpage-gear__item_headlamp .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 292px;
        top: 53px;
        left: 31px;
    }
}

// tent

.cc-mainpage-gear__item_tent .cc-mainpage-gear__item-img {
    left: 363px;
    top: 123px;
}
.cc-mainpage-gear__item_tent .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 222px;
        left: 270px;
        top: 214px;
    }
}

// sleepingpad

.cc-mainpage-gear__item_sleepingpad .cc-mainpage-gear__item-img {
    right: 24px;
    top: 20px;
}
.cc-mainpage-gear__item_sleepingpad .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 245px;
        right: 163px;
        top: 52px;
    }
}

// sleeping bag

.cc-mainpage-gear__item_sleepingbag .cc-mainpage-gear__item-img {
    right: -36px;
    top: 258px;
}
.cc-mainpage-gear__item_sleepingbag .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 222px;
        right: 46px;
        bottom: 46px;
    }
}

// backpack

.cc-mainpage-gear__item_backpack .cc-mainpage-gear__item-img {
    top: 219px;
    left: 16px;
}
.cc-mainpage-gear__item_backpack .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 221px;
        bottom: 22px;
        left: 32px;
    }
}

// water filter

.cc-mainpage-gear__item_waterfilter .cc-mainpage-gear__item-img {
    left: 262px;
    bottom: 44px;
}
.cc-mainpage-gear__item_waterfilter .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 207px;
        bottom: 22px;
        left: 391px;
    }
}

// campstove

.cc-mainpage-gear__item_campstove .cc-mainpage-gear__item-img {
    bottom: 46px;
    left: 609px;
}
.cc-mainpage-gear__item_campstove .cc-mainpage-gear__item-descr {
    @media (min-width: $desktop-width) {
        width: 197px;
        bottom: 22px;
        left: 742px;
    }
}