.cc-mainpage-section__howitworks {
    padding-top: 60px;
}

.cc-mainpage-howitworks {
    position: relative;

    @include clearfix();
}

.cc-mainpage-howitworks:before {
    content: '';
    display: none;
    position: absolute;
    background: url('../images/how-it-works/path-image.png') no-repeat;
    width: 875px;
    height: 120px;
    top: 25px;
    left: 195px;

    @media (min-width: $desktop-width) {
        display: block;
    }
}

.cc-mainpage-howitworks__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-medium) {
        display: block;
        float: left;
        margin-right: 7.165%;
        width: 18.446%;
        max-width: 242px;
    }
}

.cc-mainpage-howitworks__item:last-child {
    margin-right: 0;
}

.cc-mainpage-howitworks__item-title {
    margin-top: 0;
    margin-bottom: 12px;
    
    @media (min-width: $breakpoint-medium) {
        margin-top: 30px;
    }
}

.cc-mainpage-howitworks__item-img {
    margin-right: 20px;
    width: 78px;
    height: auto;

    @media (min-width: $breakpoint-medium) {
        height: 92px;
        width: auto;
    }
}

.cc-mainpage-howitworks__item_delivery .cc-mainpage-howitworks__item-img {
    margin-left: -10px;

}

.cc-mainpage-howitworks__item_enjoy .cc-mainpage-howitworks__item-img {
    margin-left: 4px;
}

.cc-mainpage-howitworks__item_return .cc-mainpage-howitworks__item-img {
    margin-left: 5px;
}