.cc-mainpage-header {
    @media (min-width: $breakpoint-large) {
        min-height: 1012px;
    }
}

.cc-mainpage-header .cc-header-content {
    text-align: center;
}

.cc-mainpage-header__badge {
    background: url('../images/rent-explore-return-badge@2x.png') no-repeat;
    background-size: cover;
    display: inline-block;
    width: 199px;
    height: 101px;
    margin-top: 50px;

    @media (min-width: $breakpoint-large) {
        margin-top: 128px;
        width: 395px;
        height: 202px;
    }
}

.cc-header-large.cc-mainpage-header__text {
    color: $color-white !important;
    font-size: $font-size-large;
    margin-top: 64px;
    margin-bottom: 0;
    text-shadow: 0 2px 4px #0f282f, 0 2px 24px #1d4033;

    @media (min-width: $breakpoint-large) {
        font-size: $font-size-h1;
    }
}