.cc-mainpage-section__info {
    text-align: center;
    @include clearfix();
}

.cc-mainpage-info__aboutus {
    margin-bottom: 50px;
    @media (min-width: $breakpoint-medium) {
        float: left;
        width: 45%;
    }
}

.cc-mainpage-info__aboutus p {
    margin-bottom: 50px;
}

.cc-mainpage-info__faq {
    @media (min-width: $breakpoint-medium) {
        float: right;
        width: 45%;
    }
}