.cc-mainpage-section__photos {
    background-color: #193a39;
    color: $color-white;
    position: relative;
}

.cc-mainpage-photos {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cc-mainpage-photos__item {
    font-size: $font-size-sign;
    line-height: 1.3;
    flex: 1 1 auto;
    max-width: 304px;
    padding-right: 12px;
    margin-bottom: 28px;
}

.cc-mainpage-photos__item-sign {
    color: $color-yellow;
}

.cc-mainpage-photos__item-img {
    margin-bottom: 17px;
}

.cc-mainpage-photos__item-text {
    margin-bottom: 17px;
}